<html>
<head>
  <title>{{ .Title}}</title>
</head>
<body>
  <h1>{{ .Title}}</h1>
  
  <hr />
  
  <p>
    <i>{{ .Params.Purpose }}</i>
  </p>
  
  <hr />
  
  
  <table border="1" style="width:100%;">
    <tr>
      <th>
        Created at
      </th>
      <th>
        Status
      </th>
      <th style="width:90%;">
        Subject
      </th>
    </tr>  
    {{ range sort .Pages "File.Path" }}
      <tr>
        <td>
          {{ .Params.CreatedAt }}
        </td>
        <td>
          {{ .Params.Status }}
        </td>
        <td>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </td>
      </tr>    
    {{ end }}  
  </table>
  
  <hr />
  
  <a href="{{ "imprint" | relURL }}">Imprint</a>
  
</body>
</html>